// app global css in SCSS form
:root {
  --app-header-height: 50px;
  --app-footer-height: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

// 背景色類別
.bg-judy-1 {
  background-color: $judy-1 !important;
}
.bg-judy-2 {
  background-color: $judy-2 !important;
}
.bg-judy-3 {
  background-color: $judy-3 !important;
}
.bg-judy-4 {
  background-color: $judy-4 !important;
}
.bg-judy-5 {
  background-color: $judy-5 !important;
}
.bg-judy-6 {
  background-color: $judy-6 !important;
}
.bg-judy-7 {
  background-color: $judy-7 !important;
}

// 文字色類別
.text-judy-1 {
  color: $judy-1 !important;
}
.text-judy-2 {
  color: $judy-2 !important;
}
.text-judy-3 {
  color: $judy-3 !important;
}
.text-judy-4 {
  color: $judy-4 !important;
}
.text-judy-5 {
  color: $judy-5 !important;
}
.text-judy-6 {
  color: $judy-6 !important;
}
.text-judy-7 {
  color: $judy-7 !important;
}
